#contentRow {
  padding-top: 0px !important;
}

#sideNavBox {
  display: none;
}

#contentBox{
  margin: unset;
}

#s4-bodyContainer{
  height: fit-content;
}

#layoutsTable {
  position: relative;
  top: -3.5em;
 }

 #titleAreaBox {
  margin-left: 1px;
 }
 #s4-titlerow {
  padding-top: 1em;
 }
  